In [8]:
import warnings
warnings.filterwarnings('ignore')
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
# Define a function to get data given a list of tickers and clean the data
def get_tickers(filepath, start_date = "2015-01-01", end_date = "2023-12-15"):
    tickers = []
    with open(filepath) as file:
        for line in file:
            tickers.append(line.strip())
    data = yf.download(tickers, start = start_date, end = end_date).sort_index()['Close']
    clean_data = data[data.isna().sum(axis = 1) != data.shape[1]]
    clean_data = clean_data.dropna(axis = 1)
    return clean_data

In [72]:
# Define a function to get the n% least volatile stocks in a DataFrame over the past t months
def get_least_volatile(stock_data, date, t = 36, n = 0.05):
    date = pd.to_datetime(date)
    start_date = date - pd.DateOffset(months=t)
    data = stock_data.copy()[start_date:date]
    ticker_vols = dict()
    for ticker in data.columns:
        return_df = np.array(data[ticker].pct_change())[1:]
        vol = return_df.std()
        ticker_vols[ticker] = vol
    sorted_tickers = sorted(ticker_vols.items(), key = lambda x: x[1])
    n = int(stock_data.shape[1] // (1 / n))
    return [x[0] for x in sorted_tickers[:n]]

In [33]:
def construct_portfolio(stock_data, start_date = "2021-01-01", end_date = "2023-12-15", rebalance_every = 1):
    portfolio = pd.DataFrame(data = np.zeros([len(stock_data),len(stock_data.columns)]), index = stock_data.index, columns=stock_data.columns)
    num_stocks = stock_data
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    for i, date in enumerate(stock_data[start_date : end_date].index):

0.021853754498472273

In [52]:
start_date = "2021-01-01"
end_date = "2023-12-15"
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)
stock_data[start_date: end_date].index

Index([2021-01-04 00:00:00, 2021-01-05 00:00:00, 2021-01-06 00:00:00,
       2021-01-07 00:00:00, 2021-01-08 00:00:00, 2021-01-11 00:00:00,
       2021-01-12 00:00:00, 2021-01-13 00:00:00, 2021-01-14 00:00:00,
       2021-01-15 00:00:00,
       ...
       2023-12-01 00:00:00, 2023-12-04 00:00:00, 2023-12-05 00:00:00,
       2023-12-06 00:00:00, 2023-12-07 00:00:00, 2023-12-08 00:00:00,
       2023-12-11 00:00:00, 2023-12-12 00:00:00, 2023-12-13 00:00:00,
       2023-12-14 00:00:00],
      dtype='object', name='Date', length=743)

In [12]:
# Download and display data
filepath = './russell2000_tickers.txt'
stock_data = get_tickers(filepath)

[*********************100%***********************]  1783 of 1783 completed

40 Failed downloads:
- FORG: No data found, symbol may be delisted
- CELL: No data found, symbol may be delisted
- AJRD: No data found, symbol may be delisted
- RXDX: No data found, symbol may be delisted
- APPH: No data found, symbol may be delisted
- RIDE: No data found, symbol may be delisted
- HMPT: No data found, symbol may be delisted
- ROCC: No data found, symbol may be delisted
- TRTN: No data found, symbol may be delisted
- CTIC: No data found, symbol may be delisted
- DICE: No data found, symbol may be delisted
- VRAY: No data found, symbol may be delisted
- THRN: No data found, symbol may be delisted
- DSEY: No data found, symbol may be delisted
- RETA: No data found, symbol may be delisted
- UBA: No data found, symbol may be delisted
- KLR: No data found, symbol may be delisted
- AMRS: No data found, symbol may be delisted
- QUOT: No data found, symbol may be delisted
- PDLI: No data found, symbol may be delisted
- PTRA: No data found, symbol may be delisted
- INDT: No data found, symbol may be delisted
- FOCS: No data found, symbol may be delisted
- RADI: No data found, symbol may be delisted
- ISEE: No data found, symbol may be delisted
- ARNC: No data found, symbol may be delisted
- KDNY: No data found, symbol may be delisted
- GRNA: No data found, symbol may be delisted
- NUVA: No data found, symbol may be delisted
- FRG: No data found, symbol may be delisted
- TTCF: No data found, symbol may be delisted
- TFM: No data found for this date range, symbol may be delisted
- IRNT: No data found, symbol may be delisted
- ENOB: No data found, symbol may be delisted
- RTL: No data found, symbol may be delisted
- CVT: No data found, symbol may be delisted
- ZEV: No data found, symbol may be delisted
- NEX: No data found, symbol may be delisted
- PRDS: No data found, symbol may be delisted
- RAD: No data found, symbol may be delisted

,AAON,AAT,ABCB,ABG,ABM,ABR,ABUS,ACAD,ACCO,ACIW,...,XPRO,XRX,XXII,YELP,YORW,ZD,ZEUS,ZUMZ,ZWS,ZYXI
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-31 00:00:00,14.926667,39.810001,25.639999,75.919998,28.650000,6.77,15.15,31.75,9.01,20.170000,...,99.779999,36.521740,24.750000,54.730000,23.209999,53.913044,17.780001,38.630001,28.209999,0.154545
2015-01-02 00:00:00,14.620000,40.369999,25.270000,76.089996,28.420000,6.83,14.76,31.15,8.79,19.709999,...,97.680000,36.231884,26.250000,55.150002,22.650000,53.260872,18.280001,38.209999,27.940001,0.163636
2015-01-05 00:00:00,14.126667,40.830002,25.250000,74.000000,28.469999,7.01,15.01,31.10,8.62,19.260000,...,95.940002,35.441368,24.900000,52.529999,22.570000,52.400002,16.600000,38.939999,26.830000,0.145455
2015-01-06 00:00:00,13.900000,41.150002,24.730000,72.690002,28.610001,7.00,14.76,30.98,8.40,18.950001,...,96.419998,34.967064,23.700001,52.439999,22.350000,51.965218,15.910000,38.459999,26.379999,0.145455
2015-01-07 00:00:00,14.026667,41.930000,24.490000,75.010002,29.080000,7.12,14.87,32.16,8.33,19.030001,...,93.059998,35.415020,23.250000,52.209999,22.990000,52.173912,14.840000,40.279999,26.420000,0.136364